<ion-view title=" " id="tour-view" hide-nav-bar="true">
    <ion-nav-buttons side="left">

    </ion-nav-buttons>
    <ion-nav-buttons side="right">

    </ion-nav-buttons>
    <ion-slide-box on-slide-changed="onSlideChanged()"style="width: 100%;height: 100%; position: relative">
        <ion-slide>
            <img src="img/cropped-750-1334-262614.jpg" alt="" style="width: 100%;height: 100%;">
        </ion-slide>
        <ion-slide>
            <img src="img/cropped-750-1334-18126.jpg" alt="" style="width: 100%;height: 100%;">
        </ion-slide>
        <ion-slide>
            <img src="img/cropped-750-1334-37448.jpg" alt=""style="width: 100%;height: 100%;">
        </ion-slide>


    </ion-slide-box>

</ion-view>