<ion-view title="测评">
<ion-content class="scroll-content">
    <div class="list card">
        <div class="item item-body">
            <a href=""><img class="full-image" src="../img/3.png"></a>
            <h2>dscb</h2>
            <p>
                <a href="#" class="subdued">1 Like</a>
                <a href="#" class="subdued">5 Comments</a>
            </p>
        </div>
    </div>
    <div class="list card">
        <div class="item item-body">
            <a href=""><img class="full-image" src="../img/3.png"></a>
            <h2>dscb</h2>
            <p>
                <a href="#" class="subdued">1 Like</a>
                <a href="#" class="subdued">5 Comments</a>
            </p>
        </div>
    </div>
    <div class="list card">
        <div class="item item-body">
            <a href=""><img class="full-image" src="../img/3.png"></a>
            <h2>dscb</h2>
            <p>
                <a href="#" class="subdued">1 Like</a>
                <a href="#" class="subdued">5 Comments</a>
            </p>
        </div>
    </div>

</ion-content>
</ion-view>

