<ion-view>
    <ion-content scroll="true" padding="true">
        <div class="home-slide">
            <ion-slide-box auto-play="true" does-continue="true" slide-interval="2500" show-pager="false"
                           style="height:250px;width: 100%">
                <ion-slide>
                    <div class="box"><img src="img/1.png"/></div>
                </ion-slide>
                <ion-slide>
                    <div class="box"><img src="img/2.png"/></div>
                </ion-slide>
                <ion-slide>
                    <div class="box"><img src="img/3.png"/></div>
                </ion-slide>
                <ion-slide>
                    <div class="box"><img src="img/4.png"/></div>
                </ion-slide>
                <ion-slide>
                    <div class="box"><img src="img/5.png"/></div>
                </ion-slide>
            </ion-slide-box>

        </div>
        <ion-list>
            <li class="item" style="border: none">
                每日精选 <i class="icon ion-heart"></i>
            </li>
        </ion-list>


        <!---->
        <ion-slide-box does-continue="true" slide-interval="2500" show-pager="false" style="height: 100px;">
            <ion-slide class="slideBox ">
                <div class="row">
                    <div class="col-25">
                        <a class="item item-thumbnail-top" href="#">
                            <img src="img/1.png">

                            <p>Nine Inch Nails</p>
                        </a>
                    </div>
                    <div class="col-25">
                        <a class="item item-thumbnail-top" href="#">
                            <img src="img/1.png">

                            <p>Nine Inch Nails</p>
                        </a>
                    </div>
                    <div class="col-25">
                        <a class="item item-thumbnail-top" href="#">
                            <img src="img/1.png">

                            <p>Nine Inch Nails</p>
                        </a>
                    </div>
                    <div class="col-25">
                        <a class="item item-thumbnail-top" href="#">
                            <img src="img/1.png">

                            <p>Nine Inch Nails</p>
                        </a>
                    </div>
                </div>
            </ion-slide>
            <ion-slide class="slideBox ">
                <div class="row">
                    <div class="col-25">
                        <a class="item item-thumbnail-top" href="#">
                            <img src="img/1.png">

                            <h2>Pretty Hate Machine</h2>

                            <p>Nine Inch Nails</p>
                        </a>
                    </div>
                    <div class="col-25">
                        <a class="item item-thumbnail-top" href="#">
                            <img src="img/1.png">

                            <h2>Pretty Hate Machine</h2>

                            <p>Nine Inch Nails</p>
                        </a>
                    </div>
                    <div class="col-25">
                        <a class="item item-thumbnail-top" href="#">
                            <img src="img/1.png">

                            <h2>Pretty Hate Machine</h2>

                            <p>Nine Inch Nails</p>
                        </a>
                    </div>
                    <div class="col-25">
                        <a class="item item-thumbnail-top" href="#">
                            <img src="img/1.png">

                            <h2>Pretty Hate Machine</h2>

                            <p>Nine Inch Nails</p>
                        </a>
                    </div>
                </div>
            </ion-slide>
            <ion-slide class="slideBox">

            </ion-slide>

        </ion-slide-box>
        <!---->
        <ion-list>
            <li class="item" style="border: none">
                热门标签 <i class="icon ion-heart"></i>
            </li>
        </ion-list>
        <div class="row  rowp">
            <div class="col">
                <button class="button button-outline button-small button-calm">HD650</button>
            </div>
            <div class="col">
                <button class="button button-outline button-small button-balanced ">HD800</button>
            </div>
            <div class="col">
                <button class="button button-outline button-small  button-positive ">IE80</button>
            </div>
            <div class="col">
                <button class="button button-outline button-small button-stable ">Beats</button>
            </div>
            <div class="col">
                <button class="button button-outline button-small button-assertive ">ATH-IM70</button>
            </div>
        </div>
        <ion-list>
            <li class="item" style="border: none">
                热门文章 <i class="icon ion-heart"></i>
            </li>
        </ion-list>
        <ion-list>
            <a class="item item-thumbnail-left" href="#">
                <img src="img/3.png">

                <h2>Pretty Hate Machine</h2>

                <p>Nine Inch NailsNine Inch NailsNine Inch NailsNine Inch Nails</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="img/3.png">

                <h2>Pretty Hate Machine</h2>

                <p>Nine Inch NailsNine Inch NailsNine Inch NailsNine Inch Nails</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="img/3.png">

                <h2>Pretty Hate Machine</h2>

                <p>Nine Inch NailsNine Inch NailsNine Inch NailsNine Inch Nails</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="img/3.png">

                <h2>Pretty Hate Machine</h2>

                <p>Nine Inch NailsNine Inch NailsNine Inch NailsNine Inch Nails</p>
            </a>
        </ion-list>
        <!---->
        </ion-list>
    </ion-content>
</ion-view>