<ion-view title="Gold ear">
    <ion-content  scroll="true" padding="true">
        <ion-slide-box auto-play="true" does-continue="true" slide-interval="3000" show-pager="false"
                       delegate-handle="slideHandler"
                       style="height:18rem;width: 100%">
            <ion-slide>
                <div class="box"><a href="#/tabs/evaluationtmplate?id=1008"><img src="img/001.jpg"/></a></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><a href="#/tabs/evaluationtmplate?id=1002"><img src="img/e2.jpg"/></a></div></a>
            </ion-slide>
            <ion-slide>
                <div class="box"><a href="#/tabs/evaluationtmplate?id=1007"><img src="img/004.jpg"/></a></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><a href="#/tabs/evaluationtmplate?id=1005"><img src="img/002.jpg"/></a></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><a href="#/tabs/evaluationtmplate?id=1006"><img src="img/005.jpg"/></a></div>
            </ion-slide>
        </ion-slide-box>
        <ion-list>
            <li class="item labelbg" style="border: none">
                每日精选 <i class="icon ion-heart"></i>
            </li>
        </ion-list>
        <!---->
        <ion-scroll direction="x" style="width:100%;height:100px;overflow: hidden;">

            <div class="row">
                <div class="col-25 itema">
                    <a class="item item-thumbnail-top listen" href="#/tabs/evaluationtmplate?id=1001"

                    >
                        <img src="img/e1.jpg">

                        <p>雅马哈</p>
                    </a>
                </div>
                <div class="col-25 itema">
                    <a class="item item-thumbnail-top" href="#/tabs/evaluationtmplate?id=1002">
                        <img src="img/e3.jpg">

                        <p>魅族</p>
                    </a>
                </div>
                <div class="col-25 itema">
                    <a class="item item-thumbnail-top" href="#/tabs/evaluationtmplate?id=1006">
                        <img src="img/e4.jpg">

                        <p>HD800</p>
                    </a>
                </div>
                <div class="col-25 itema">
                    <a class="item item-thumbnail-top" href="#/tabs/evaluationtmplate?id=1003">
                        <img src="img/e5.jpg">

                        <p>KEF</p>
                    </a>
                </div>
                <div class="col-25 itema">
                    <a class="item item-thumbnail-top" href="#/tabs/evaluationtmplate?id=1004">
                        <img src="img/e6.jpg">

                        <p>Oneear</p>
                    </a>
                </div>

                <div class="col-25 itema">
                    <a class="item item-thumbnail-top" href="#/tabs/evaluationtmplate?id=1005">
                        <img src="img/e8.jpg">

                        <p>ATH</p>
                    </a>
                </div>
            </div>


        </ion-scroll>
        <!---->
        <ion-list>
            <li class="item" style="border: none">
                热门标签 <i class="icon ion-heart"></i>
            </li>
        </ion-list>
        <div class="row  rowp">
            <div class="col">
                <a href="#/tabs/evaluationtmplate?id=1002"><button class="button button-outline button-small button-calm" >HD650</button></a>
            </div>
            <div class="col">
                <a href="#/tabs/evaluationtmplate?id=1004">  <button class="button button-outline button-small button-balanced " >HD800</button></a>
            </div>
            <div class="col">
                <a href="#/tabs/evaluationtmplate?id=1005"><button class="button button-outline button-small  button-positive ">IE80</button></a>
            </div>
            <div class="col">
                <a href="#/tabs/evaluationtmplate?id=1007"> <button class="button button-outline button-small button-stable ">Beats</button></a>
            </div>
            <div class="col">
                <a href="#/tabs/evaluationtmplate?id=1008"><button class="button button-outline button-small button-assertive ">ATH</button></a>
            </div>
        </div>
        <ion-list>
            <li class="item" style="border: none ;position: relative">
                热门文章 <i class="icon ion-heart"></i> <a class="lik" ui-sref="tabs.evaluation">更多 >></a>
            </li>
        </ion-list>
        <ion-list class="itemb">
            <a class="item item-thumbnail-left " href="#/tabs/evaluationtmplate?id=1001">
                <img src="img/00062247_01.jpg">

                <h2>海菲曼 HIFIMAN HE1000 头戴式耳机-对比Stax SR-009</h2>

                <p>HIFIMAN HE-1000耳机从2014年底发布至今已经有近两年时间，正当我们打算写这篇文章时，HIFIMAN已经发布新版的HE-1000v2了……</p>
            </a>
            <a class="item item-thumbnail-left " href="#/tabs/evaluationtmplate?id=1002">
                <img src="img/e2.jpg">

                <h2>Pretty Hate Machine</h2>

                <p>Nine Inch NailsNine Inch NailsNine Inch NailsNine Inch Nails</p>
            </a>
            <a class="item item-thumbnail-left " href="#/tabs/evaluationtmplate?id=1003">
                <img src="img/e4.jpg">

                <h2>KEF M400 头戴式耳机测评报告</h2>

                <p>KEF M400是KEF压耳式耳机中的次旗舰，定位略低于M500，Soomal曾经在2014年6月发布过....</p>
            </a>
            <a class="item item-thumbnail-left" href="#/tabs/evaluationtmplate?id=1003">
                <img src="img/e5.jpg">

                <h2>Meizu 魅族 HD50 头戴式耳机</h2>

                <p>在国产手机品牌中，魅族手机的音频属性来历最为特别。魅族在大概十年前是中国最知名的随身听品牌之一.....</p>
            </a>
        </ion-list>
        <!---->
        <ion-list>
            <li class="item" style="border: none ;position: relative">
                热门话题 <i class="icon ion-heart"></i> <a class="lik" ui-sref="tabs.share.commodity">更多 >></a>
            </li>
        </ion-list>
        <div class="list">
            <a class="item item-avatar" href="javascript:;">
                <img src="img/girl-5.png">
                <h2>求证实成都音响展会出现大奥</h2>
                <p>前天去海帆买山灵m1，由于去的早他们还在开会。我在门口的时候隐约听到他们在提大奥和成都音响展，我一进去马上就不说了。走的时候给了我一张成都音响展的票，还给我说去了会有惊喜，说是能见到世界顶级的耳机。求证实啊，是不是真有大奥，请假都要去啊</p>
            </a>
            <a class="item item-avatar" href="javascript:;">
                <img src="img/girl-3.png">
                <h2>HD650是不是正品</h2>
                <p>前天去海帆买山灵m1，由于去的早他们还在开会。我在门口的时候隐约听到他们在提大奥和成都音响展，我一进去马上就不说了。走的时候给了我一张成都音响展的票，还给我说去了会有惊喜，说是能见到世界顶级的耳机。求证实啊，是不是真有大奥，请假都要去啊</p>
            </a>
            <a class="item item-avatar" href="javascript:;">
                <img src="img/girl-6.png">
                <h2>劲浪“乌托邦”-世界最佳耳机</h2>
                <p>昨天逛街顺便进了一家相熟的耳机店，听说“乌托邦”刚到，就坐下听了下。谁知这一听就出事了...15分钟不到，忍不住败了下去</p>
            </a>
            <a class="item item-avatar" href="javascript:;">
                <img src="img/girl-2.png">
                <h2>T1二代平衡配什么解码耳放</h2>
                <p>brooklyn十金牛座平衡耳放十T1二代平衡，这合适吗？请大神推荐……考虑以后上音箱，解码还能用。全部算起来三万以内</p>
            </a>


        </div>
        <!---->
        <ion-list>
            <li class="item" style="border: none ;position: relative">
                精品推荐 <i class="icon ion-heart"></i> <a class="lik" ui-sref="tabs.share.commodity">更多 >></a>
            </li>
        </ion-list>

        <div class="list card">
            <a ui-sref="tabs.share.shoplist.product?id=2002">
            <div class="item item-body">
                <div class="item item-avatar">
                    <img src="img/man.png">

                    <h2>Marty McFly</h2>
                </div>
                <div class="row imgw">
                    <div class="col"><img class="full-image" src="img/shop1.jpg"></div>
                    <div class="col"><img class="full-image" src="img/shop002.jpg"></div>
                    <div class="col"><img class="full-image" src="img/shop001.jpg"></div>
                </div>

                <p>
                    声海 HD540G 300欧 成色特别好 没有锈迹 关键是 耳罩是原装 带皮 饱满 价格3400！
                </p>
            </div>
            </a>
        </div>
        <div class="list card">
            <a ui-sref="tabs.share.shoplist.product?id=2004">
            <div class="item item-body">
                <div class="item item-avatar">
                    <img src="img/man-1.png">

                    <h2>Marty McFly</h2>
                </div>
                <div class="row imgw">
                    <div class="col"><img class="full-image" src="img/shop003.jpg"></div>
                    <div class="col"><img class="full-image" src="img/shop004.jpg"></div>
                    <div class="col"><img class="full-image" src="img/shop005.jpg"></div>
                </div>

                <p>
                    最被低估的奢华耳机！！！纯黑色款，原包装未拆，仅售3500元！
                </p>
            </div>
            </a>
        </div>
        <div class="list card">
            <a ui-sref="tabs.share.shoplist.product?id=2001">
            <div class="item item-body">
                <div class="item item-avatar">
                    <img src="img/girl-5.png">

                    <h2>Marty McFly</h2>
                </div>
                <div class="row imgw">
                    <div class="col"><img class="full-image" src="img/shop1.jpg"></div>
                    <div class="col"><img class="full-image" src="img/shop002.jpg"></div>
                    <div class="col"><img class="full-image" src="img/shop001.jpg"></div>
                </div>

                <p>
                    最被低估的奢华耳机！！！纯黑色款，原包装未拆，仅售3500元！
                </p>
            </div>
</a>
        </div>
        <div class="list card">
            <a ui-sref="tabs.share.shoplist.product?id=2004">
            <div class="item item-body">
                <div class="item item-avatar">
                    <img src="img/girl-7.png">

                    <h2>Marty McFly</h2>
                </div>
                <div class="row imgw">
                    <div class="col"><img class="full-image" src="img/shop1.jpg"></div>
                    <div class="col"><img class="full-image" src="img/shop002.jpg"></div>
                    <div class="col"><img class="full-image" src="img/shop001.jpg"></div>
                </div>

                <p>
                    最被低估的奢华耳机！！！纯黑色款，原包装未拆，仅售3500元！
                </p>
            </div>
            </a>
        </div>

    </ion-content>
</ion-view>